.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 0 0 10px -3px rgb(159, 159, 159);
    border-radius: 10px;
    height: 100px;
}
.widget-count{
  font-size: 2.5rem;
  color: rgb(51, 31, 120);
}
.widget-up{
  /* background-color: aqua; */
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-top: -5px;

}
.widget-title{
  
}
.widget-down{
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.widget-icon{
  font-size: 1.8rem;
  /* background-color: rgb(132, 132, 159); */
  display: flex;
  align-items: center;
  border-radius: 5px;

  
}
.widget-link{
  font-size: .8rem;
  border-bottom: 2px solid rgb(149, 149, 149);
  cursor: pointer;
}
    
  
  