.sidebar-wrapper {
    background-color: rgb(255, 255, 255);
    width: 250px;
    position: fixed;
/* margin-top: 2rem; */
    border-radius: 5px;
    margin-left: 10px;
    /* overflow: hidden; */

    /* box-shadow: 0 2px 20px -7px rgb(128, 128, 128); */
    min-height: 95%;
    /* background-color: transparent; */
    /* background-color: aqua; */
    box-shadow: 0 0 10px -3px rgb(159, 159, 159);
}

.logo{
/* background-color: rgb(87, 67, 41); */
display: flex;
justify-content:flex-start;
align-items: center;
width: 82%;
margin-top: 10px;
}
.logo img{
width: 50%;

}
.sidebar-menu-wrapper{
    /* background-color: aquamarine; */
   
   /* padding: 1rem 0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    /* background-color: blue; */
}
.user-account-sidebar{
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 8rem;
    gap: 1rem;
    justify-content: flex-start;
    width: 80%;
    align-items: center;
    /* background-color: aqua; */
}
.user-detail{
    display: flex;
    flex-direction: column;
    color: rgb(87, 87, 87);
    

}
.user-detail h3{
    font-size: .8rem;
   
}
.user-detail h2{
    font-size: 1rem;
   
}
.user-account-sidebar img{
    width: 60px;
    height: 60px;
    background-color: blue;
    border-radius: 50px;
    box-shadow: 0 4px 5px -3px #000000;
}
h2,h3{
    margin: 0!important;
    padding: 0!important;
    font-family: 'Nunito', sans-serif;
    font-weight: 800!important;

}
.sidebar-menu-items{
    /* background-color:aqua; */
    /* margin-top: 4rem; */
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    /* background-color: blanchedalmond; */
    width: 80%;
}
.sidebar-menu-item{
   
    /* padding: .9rem 3rem; */
    display: flex;
   background-color: var(--color-white);
    align-items: center;
    justify-content:flex-start;
    gap: .6rem;
    /* border-radius: 5px; */
    font-size: 1.3rem;
    transition: 50ms ease-in-out;
    /* background-color: aqua; */
    cursor: pointer;
    color: rgb(88 88 88);
    /* box-shadow: 0 0 10px -2px rgb(142, 142, 142); */
    
    /* background-color: transparent; */
  
}
a{
    text-decoration: none;
}
/* .sidebar-menu-item:hover{
    background-color: var(--color-white);
    margin-left: 10px;
} */
.sidebar-menu-item:hover .sidebar-menu-icon{
    color: blue ;
}

h5{
    padding: 0!important;
    margin: 0!important;
    font-weight: 800!important;
}
.sidebar-menu-icon{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 50ms ease-in-out;
    
}

.sidebar-menu-title{
    /* background-color: blue; */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
   
}
.sidebar-menu-title h5{
    color: rgb(121, 121, 121);
}

ul{
    list-style: none!important;
    padding-left: 0!important;
}
.togle-btn{
    position: relative;
    top: 15px;
    left:105px ;
    font-size: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px -3px rgb(0, 0, 0);
    color: rgb(107, 107, 107);
    cursor: pointer;
    display: none;
}
.logout{
    /* background-color: aqua; */
    overflow: hidden;

}
.logout-btn{
    /* background-color: blue; */
}
.logout-btn button{
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.togle-btn1{
    position: relative;
    top: 15px;
    left:105px ;
    font-size: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
    border-radius: 50px;
    box-shadow: 0 0 10px -3px rgb(0, 0, 0);
    color: rgb(107, 107, 107);
    cursor: pointer;
    display: none;
}
