.create-user-form{
   
    background-color: transparent;
   
    display: flex;
    flex-direction:row-reverse;
  background-color: var(--color-white);
    margin-top: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px rgb(163, 163, 163);
    
}

.user-image-wrapper-employee{
    width: 30%;
   
    border: 2px solid black;
    /* background-color: brown; */ 
}
.user-image-upload{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-image-upload input[type="file"]{
   display: none;
    
}
.user-image-upload label{
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
padding: .5rem 1rem;
border-radius: 5px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 6px 10px -8px rgb(0, 0, 0);
}
.user-image-wrapper-employee .user-image{
    /* background-color: aqua; */
 overflow: hidden;
   
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50px;
    color: var(--color-gray-dark);
    background-color: var(--color-light);
    box-shadow: 0 0 10px -5px rgb(25, 25, 25);
    display: none;
}
.user-image-wrapper-employee .user-image img{
    /* background-color: aqua; */
 
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.create-form-wrapper{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    /* background-color: brown; */
    /* width: 100%;
    height:60%; */
    gap: 4rem;
    /* background-color: aquamarine; */
    width: 70%;
    padding: 1rem;
   
}
.create-user-wrapper{
    /* background-color: rgb(61, 103, 134); */
  
   
   
   
    height: 80vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-left: 270px;
    margin-top: 14px;
    width: 79%;

}
.create-user-wrapper h2{
    display: flex;
    padding: .45rem ;
    background-color: var(--color-white) ;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px rgb(163, 163, 163);
    
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    color: rgb(121, 121, 121);
    padding-left: 1rem;
    
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .2rem;
   
}
.field .input{
    width: 100%;
    padding: .9rem .5rem;
   
}
.select-input{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    /* gap: 1rem; */
}
.select-input select{
    padding: .9rem .2rem;
   border: none;
   background: transparent;
   border-bottom: 2px solid rgb(180, 180, 180);
   color: rgb(113, 113, 113);
}
.select-input select:focus{
    outline: none;
}

.field .input button{
  
    width: 30.4%;
    padding: .7rem 0;
    background-color: rgb(0, 0, 0);
    border: none;
    
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px -6px rgb(142, 142, 142);
}
.input-btn{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 4rem;
    
    
    
}


/* hdfjkdkfhdjfhj */
