.department-image-wrapper .department-image{
    /* background-color: aqua; */
 overflow: hidden;
   
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50px;
    color: var(--color-gray-dark);
    background-color: var(--color-light);
    box-shadow: 0 0 10px -5px rgb(25, 25, 25);
   
}

.department-input{
    width: 100%;
    padding: .9rem .5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    gap: .2rem;
}
.department-image-wrapper{
    /* background-color: aqua; */
    width: 30%;
}
.department-image-upload{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.department-image-upload input[type="file"]{
   display: none;
    
}
.department-image-upload label{
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
padding: .5rem 1rem;
border-radius: 5px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 6px 10px -8px rgb(0, 0, 0);

}

.department-image-wrapper .department-image img{
    /* background-color: aqua; */
 
   
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.dep-sel{
    /* background-color: aquamarine; */
    width: 92%;
}


.create-user-wrapper h2{
    display: flex;
    padding: .45rem ;
    background-color: var(--color-white) ;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px rgb(163, 163, 163);
    
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    color: rgb(121, 121, 121);
    padding-left: 1rem;
    
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
    
    gap: 1rem;
    /* background-color: blueviolet; */
}

.field input:focus{
    outline: none;
}
.input input{
    width: 100%;
    padding: .8rem .4rem;
    border-bottom: 1px solid black ;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(180, 180, 180) ;
   background-color: transparent;
    transition: 100ms ease;
    
    
    
}
.input label{
    font-family: 'Nunito', sans-serif;
    color: rgb(121, 121, 121);
}
.input input:hover{
   
}
.input-btn{

}



/* hdfjkdkfhdjfhj */
